body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  border: solid white 8px;
  padding: 8px;
  margin: 0px 0px -7px 0px;
}

.content {
  background: #e3f4ff;
  border: solid white 8px;
  padding: 15px 7px;
  margin: 0px 0px -7px 0px;

}

.button-container {
  background: #e3f4ff;
  border: solid white 8px;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
}